<div class="card">
    <h5 class="card-header">Các chi phí gần nhất</h5>
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table no-wrap p-table">
                <thead class="bg-light">
                    <tr class="border-0">
                        <th class="border-0">Description</th>
                        <th class="border-0">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="recentCosts==null">
                        <td colspan="9">
                            <mat-spinner style="margin-left:auto; 
                                margin-right:auto;" color="accent" diameter=30></mat-spinner>
                        </td>
                    </tr>
                    <tr *ngFor="let recentCost of recentCosts">
                        <td>{{recentCost.costDescription}}</td>
                        <td>{{recentCost.total | currency:'VND'}}</td>
                    </tr>
                    <tr>
                        <td colspan="9"><a href="#" class="btn btn-outline-light float-right">Xem chi tiết</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>