<div class="card">
    <h5 class="card-header"> Product Category</h5>
    <div class="card-body">
        <div class="ct-chart-category ct-golden-section" style="height: 315px;"></div>
        <div class="text-center m-t-40">
            <span class="legend-item mr-3">
                <span class="fa-xs text-primary mr-1 legend-tile"><i
                        class="fa fa-fw fa-square-full "></i></span><span
                    class="legend-text">Man</span>
            </span>
            <span class="legend-item mr-3">
                <span class="fa-xs text-secondary mr-1 legend-tile"><i
                        class="fa fa-fw fa-square-full"></i></span>
                <span class="legend-text">Woman</span>
            </span>    
            <span class="legend-item mr-3">
                <span class="fa-xs text-info mr-1 legend-tile"><i
                        class="fa fa-fw fa-square-full"></i></span>
                <span class="legend-text">Accessories</span>
            </span>
        </div>
    </div>
</div>