<div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">
            <!-- ============================================================== -->
            <!-- pageHeaderContent  -->
            <!-- ============================================================== -->
            <app-page-header-content titleComponent={{titleComponent}}></app-page-header-content>
            <!-- ============================================================== -->
            <!-- end pageHeaderContent  -->
            <!-- ============================================================== -->
            <div class="ecommerce-widget">

                <!--Summary1-->
                <app-summary-revenue></app-summary-revenue>
                <!--End Summary1-->
                <div class="row">
                    <!-- ============================================================== -->

                    <!-- ============================================================== -->

                    <!-- recent orders  -->
                    <!-- ============================================================== -->
                    <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
                        <app-recent-order></app-recent-order>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end recent orders  -->


                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- customer acquistion  -->
                    <!-- ============================================================== -->
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                        <app-recent-cost></app-recent-cost>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end customer acquistion  -->
                    <!-- ============================================================== -->
                </div>
                <div class="row">
                    <!-- ============================================================== -->
                    <!-- product category  -->
                    <!-- ============================================================== -->
                    <div class="col-xl-5 col-lg-7 col-md-12 col-sm-12 col-12">
                        <!-- ============================================================== -->
                        <!-- top performing  -->
                        <!-- ============================================================== -->
                        <app-summary-cost-type></app-summary-cost-type>
                        <!-- ============================================================== -->
                        <!-- end top performing  -->
                        <!-- ============================================================== -->
                    </div>
                    <!-- ============================================================== -->
                    <!-- end product category  -->
                    <!-- product sales  -->
                    <!-- ============================================================== -->
                    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                        <app-summary-order-cost-chart></app-summary-order-cost-chart>
                    </div>

                    
                    <!-- <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                        <app-product-category></app-product-category>
                    </div> -->
                    <!-- end product sales  -->
                    <!-- ============================================================== -->

                </div>
                <!--SummarySales-->
                <app-summary-sales></app-summary-sales>
                <!-- End SummarySales-->
                <div class="row">
                    <!-- ============================================================== -->
                    <!-- total revenue  -->
                    <!-- ============================================================== -->


                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- category revenue  -->
                    <!-- ============================================================== -->
                    <div class="col-xl-5 col-lg-7 col-md-12 col-sm-12 col-12">
                        <app-summary-revenue-by-category></app-summary-revenue-by-category>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end category revenue  -->
                    <!-- ============================================================== -->

                    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                        <app-summary-profit></app-summary-profit>
                    </div>
                </div>
                <!--Summary Sale by-->
                <!--<app-summary-sales-by></app-summary-sales-by>-->
                <!--End Summary Sale by-->
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <app-footer></app-footer>
    <!-- ============================================================== -->
    <!-- end footer -->
    <!-- ============================================================== -->
</div>