<mat-card class="product-sidebar">
    <mat-card-header class="product-sidebar-widget">
        <mat-card-title>Tìm sản phẩm theo</mat-card-title>
    </mat-card-header>
    
    <mat-card-content class="product-sidebar-widget">
        <mat-form-field appearance="outline" class="custom-control">
            <mat-label for="validationCustom01">Tên sản phẩm / Mô tả</mat-label>
            <input matInput type="text" required (input)="changeNameDescription($event);">
        </mat-form-field>
    </mat-card-content>
    <mat-card-content class="product-sidebar-widget">
        <h4 class="product-sidebar-widget-title">Loại sản phẩm</h4>
        <div class="custom-control custom-checkbox" *ngFor="let category of categoryList">
            <mat-checkbox class="example-margin" (change)='selectCategory(category.id)' >{{category.categoryName}}</mat-checkbox>
        </div>
    </mat-card-content>
    <mat-card-content class="product-sidebar-widget">
        <h4 class="product-sidebar-widget-title">Đơn vị tính</h4>
        <div class="custom-control custom-checkbox" *ngFor="let unit of unitList">
            <mat-checkbox class="example-margin" (change)='selectUnit(unit)' >{{unit}}</mat-checkbox>
        </div>
    </mat-card-content>
    
</mat-card>