<div class="dashboard-main-wrapper">
    <!-- ============================================================== -->
    <!-- navbar -->
    <!-- ============================================================== -->
        <app-header></app-header>
    <!-- ============================================================== -->
    <!-- end navbar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- left sidebar -->
    <mat-drawer-container>
        <mat-drawer mode="side" opened>
            <app-side-bar></app-side-bar>
        </mat-drawer>
        <mat-drawer-content>
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- end left sidebar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- dashboard wrapper  -->
    <!-- ============================================================== -->
        
    <!-- ============================================================== -->
    <!-- end dashboard wrapper  -->
    <!-- ============================================================== -->
</div>