<div class="card">
    <h5 class="card-header">Top Performing Campaigns</h5>
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table no-wrap p-table">
                <thead class="bg-light">
                    <tr class="border-0">
                        <th class="border-0">Campaign</th>
                        <th class="border-0">Visits</th>
                        <th class="border-0">Revenue</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Campaign#1</td>
                        <td>98,789 </td>
                        <td>$4563</td>
                    </tr>
                    <tr>
                        <td>Campaign#2</td>
                        <td>2,789 </td>
                        <td>$325</td>
                    </tr>
                    <tr>
                        <td>Campaign#3</td>
                        <td>1,459 </td>
                        <td>$225</td>
                    </tr>
                    <tr>
                        <td>Campaign#4</td>
                        <td>5,035 </td>
                        <td>$856</td>
                    </tr>
                    <tr>
                        <td>Campaign#5</td>
                        <td>10,000 </td>
                        <td>$1000</td>
                    </tr>
                    <tr>
                        <td>Campaign#5</td>
                        <td>10,000 </td>
                        <td>$1000</td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <a href="#" class="btn btn-outline-light float-right">Details</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>