<div class="dashboard-main-wrapper">
    <!-- ============================================================== -->
    <!-- navbar -->
    <!-- ============================================================== -->
        <app-header></app-header>
    <!-- ============================================================== -->
    <!-- end navbar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- left sidebar -->
    <!-- ============================================================== -->
        <app-side-bar></app-side-bar>
    <!-- ============================================================== -->
    <!-- end left sidebar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- dashboard wrapper  -->
    <!-- ============================================================== -->
        <app-dashboard></app-dashboard>
    <!-- ============================================================== -->
    <!-- end dashboard wrapper  -->
    <!-- ============================================================== -->
</div>