<div class="card">
    <h5 class="card-header">Danh sách sản phẩm</h5>
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table">
                <thead class="bg-light">
                    <tr class="border-0">
                        <th class="border-0">#</th>
                        <th class="border-0">Tên sản phẩm</th>
                        <th class="border-0">Loại sản phẩm</th>
                        <th class="border-0">Mô tả</th>
                        <th class="border-0">Tồn kho</th>                        
                        <th class="border-0">Đơn vị tính</th>
                        <th class="border-0">Đơn giá bán</th>
                        <th class="border-0"></th>
                    </tr>
                </thead>
                <tbody *ngIf="productList!=null">
                    <tr *ngFor="let product of productList;index as i">
                        <td>{{i+1}}</td>
                        <td>{{product.productName}}</td>
                        <td>{{product.category}}</td>
                        <td>{{product.description}}</td>
                        <td>{{product.quantityInStock}}</td>
                        <td>{{product.unit}}</td>
                        <td>{{product.unitPrice}}</td>
                        <td colspan="9">
                            <a href="#" class="btn btn-outline-light float-right">Chi tiết</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</div>