<div class="card" *ngIf="data!=null">
    <h5 *ngIf="productDetails!=null" class="card-header">Chi tiết sản phẩm {{productDetails.productName}}</h5>
    <form *ngIf="productDetails!=null" [formGroup]="updateForm" (ngSubmit)="onUpdateProduct(inputForm.value,productDetails.id);">
        <div class="card-body">
            <div class="row" >
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <label for="validationCustom01">Product name</label>
                    <input type="text" class="form-control" id="validationCustom01"
                        placeholder="" value="{{productDetails.productName}}"
                         required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <label for="exampleFormControlTextarea1">Description</label>
                    <textarea class="form-control"  id="exampleFormControlTextarea1"
                        rows="3" required >{{productDetails.description}}</textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                    <label for="validationCustom03">Tồn kho</label>
                    <input type="number" class="form-control" id="validationCustom03" placeholder="" required
                        value="{{productDetails.quantityInStock}}">
                    <div class="invalid-feedback">
                        Please provide a valid city.
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                    <label for="validationCustom04">Số lượng lúc đầu</label>
                    <input type="text" class="form-control" id="validationCustom04" placeholder="Số lượng lúc đầu"
                        readonly value="{{productDetails.quantityAtBegining}}">
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                    <label for="validationCustom05">Đơn vị tính</label>
                    <input type="text" class="form-control" id="validationCustom05" placeholder="Đơn vị tính" required
                        value="{{productDetails.unit}}">
                    <div class="invalid-feedback">
                        Please provide a valid zip.
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                    <label for="validationCustom05">Đơn giá</label>
                    <input type="number" class="form-control" id="validationCustom05" placeholder="" required
                        value="{{productDetails.unitPrice}}">
                    <div class="invalid-feedback">
                        Please provide a valid zip.
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                    <label for="input-select">Category</label>
                    <select class="form-control" id="input-select">
                        <option value="{{productDetails.category.id}}">{{productDetails.category.categoryName}}</option>
                        <option *ngFor="let category of categories" value="{{category.id}}"
                             >{{category.categoryName}}
                        </option>
                    </select>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <label for="validationCustomUsername">{{productDetails.cost.costDescription}}</label>
                    <div class="input-group">
                        <input type="number" class="form-control" id="validationCustomUsername" placeholder=""
                            aria-describedby="inputGroupPrepend" value="{{productDetails.cost.total}}" required >
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend">đồng</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                            <label class="form-check-label" for="invalidCheck">
                                Agree to terms and conditions
                            </label>
                            <div class="invalid-feedback">
                                You must agree before submitting.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <button class="btn btn-primary" type="submit">Cập nhật sản phẩm</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="card" *ngIf="data==null">
    <h5 class="card-header">Thêm sản phẩm</h5>
    <form [formGroup]="inputForm" (ngSubmit)="onStoreProduct(inputForm.value)">
        <div class="card-body">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <label for="validationCustom01">Tên sản phẩm</label>
                    <input type="text" class="form-control" id="validationCustom01" placeholder="" value="" required
                        formControlName="productName">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <label for="exampleFormControlTextarea1">Mô tả</label>
                    <textarea class="form-control" formControlName="description" id="exampleFormControlTextarea1"
                        rows="3" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                    <label for="validationCustom03">Số lượng nhập</label>
                    <input type="number" class="form-control" id="validationCustom03" placeholder="" required value=""
                        formControlName="quantityInStock">
                    <div class="invalid-feedback">
                        Please provide a valid city.
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                    <label for="validationCustom05">Đơn vị tính</label>
                    <input type="text" class="form-control" id="validationCustom05" placeholder="" required value="Kg"
                        formControlName="unit">
                    <div class="invalid-feedback">
                        Please provide a valid zip.
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                    <label for="validationCustom05">Đơn giá</label>
                    <input type="number" class="form-control" id="validationCustom05" placeholder="" required value=""
                        formControlName="unitPrice">
                    <div class="invalid-feedback">
                        Please provide a valid zip.
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                    <label for="input-select">Category</label>
                    <select class="form-control" id="input-select" formControlName="categoryId">
                        <option *ngFor="let category of categories" value="{{category.id}}">{{category.categoryName}}
                        </option>
                    </select>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <label for="validationCustomUsername">Chi phí nhập</label>
                    <div class="input-group">
                        <input type="number" class="form-control" id="validationCustomUsername" placeholder=""
                            aria-describedby="inputGroupPrepend" value="" required formControlName="importPrice">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend">đồng</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                            <label class="form-check-label" for="invalidCheck">
                                Agree to terms and conditions
                            </label>
                            <div class="invalid-feedback">
                                You must agree before submitting.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <button class="btn btn-primary" type="submit">Thêm mới sản phẩm</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="../assets/vendor/inputmask/js/jquery.inputmask.bundle.js"></script>
<script>
    $(function (e) {
        "use strict";
        $(".date-inputmask").inputmask("dd/mm/yyyy"),
            $(".phone-inputmask").inputmask("(999) 999-9999"),
            $(".international-inputmask").inputmask("+9(999)999-9999"),
            $(".xphone-inputmask").inputmask("(999) 999-9999 / x999999"),
            $(".purchase-inputmask").inputmask("aaaa 9999-****"),
            $(".cc-inputmask").inputmask("9999 9999 9999 9999"),
            $(".ssn-inputmask").inputmask("999-99-9999"),
            $(".isbn-inputmask").inputmask("999-99-999-9999-9"),
            $(".currency-inputmask").inputmask("$9999"),
            $(".percentage-inputmask").inputmask("99%"),
            $(".decimal-inputmask").inputmask({
                alias: "decimal",
                radixPoint: "."
            }),

            $(".email-inputmask").inputmask({
                mask: "*{1,20}[.*{1,20}][.*{1,20}][.*{1,20}]@*{1,20}[*{2,6}][*{1,2}].*{1,}[.*{2,6}][.*{1,2}]",
                greedy: !1,
                onBeforePaste: function (n, a) {
                    return (e = e.toLowerCase()).replace("mailto:", "")
                },
                definitions: {
                    "*": {
                        validator: "[0-9A-Za-z!#$%&'*+/=?^_`{|}~/-]",
                        cardinality: 1,
                        casing: "lower"
                    }
                }
            })
    });
</script>