<div class="dashboard-wrapper">
    <div class="container-fluid dashboard-content ">
        <!-- ============================================================== -->
        <!-- pageHeaderContent  -->
        <!-- ============================================================== -->
        <app-page-header-content [titleComponent]=titleComponent></app-page-header-content>
        <!-- ============================================================== -->
        <!-- end pageHeaderContent  -->
        <!-- ============================================================== -->
        <div class="ecommerce-widget">
            <!--End Summary1-->
            <app-manage-costs-type-list>
            </app-manage-costs-type-list>
        </div>
    </div>
    <!-- footer -->
    <!-- ============================================================== -->
    <app-footer></app-footer>
    <!-- ============================================================== -->
    <!-- end footer -->
</div>