<div class="card">
    <div class="card-header">
         <div class="float-right">
                <select class="custom-select">
                    <option selected>Today</option>
                    <option value="1">Weekly</option>
                    <option value="2">Monthly</option>
                    <option value="3">Yearly</option>
                </select>
            </div> 
        <h5 class="mb-0"> Product Sales</h5>
    </div>
    <div class="card-body">
        <div class="ct-chart-product ct-golden-section"></div>
    </div>
</div>