<div class="card">
    <h5 class="card-header">Các Orders gần nhất</h5>
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table">
                <thead class="bg-light">
                    <tr class="border-0">
                        <th class="border-0">#</th>
                        <th class="border-0">Customer</th>
                        <th class="border-0">Total</th>
                        <th class="border-0">Order Time</th>
                        <th class="border-0">Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let recentOrder of recentOrders; index as indexNumber">
                        <!--<td>
                                <div class="m-r-10"><img src="assets/images/product-pic.jpg"
                                        alt="user" class="rounded" width="45"></div>
                            </td>-->
                        <td>{{indexNumber+1}}</td>
                        <td>{{recentOrder.customerName}}</td>

                        <td>{{recentOrder.total | currency:'VND'}}</td>
                        <td>{{recentOrder.orderTime}}</td>

                        <td><span class="badge-dot badge-success mr-1"></span>{{recentOrder.status}}</td>
                        <td colspan="9">
                            <a href="#" class="btn btn-outline-light float-right">Xem chi tiết</a>
                        </td>
                        <!--badge-dot badge-brand mr-1<td><span class="badge-dot badge-success mr-1"></span>Delivered
                            </td>-->
                    </tr>
                    <tr>
                        <!--<td colspan="9">
                            <a href="#" class="btn btn-outline-light float-right">Xem chi tiết</a>
                        </td>-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>