<div class="card" *ngIf="data!=null; else elseBlock">
    <h3 class="card-header">Chi tiết sản phẩm</h3>
    <form *ngIf="updateForm==null">
        <div class="card-body">
            <mat-spinner style="margin-left:auto; 
                                margin-right:auto;" color="accent" diameter=30>
            </mat-spinner>
        </div>
    </form>
    <form *ngIf="updateForm!=null; elseNull" [formGroup]="updateForm"
        (ngSubmit)="onUpdateProduct(updateForm.value,data.id);">
        <div class="card-body">
            <div class="row">
                <mat-form-field appearance="outline" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <mat-label for="validationCustom01">Tên sản phẩm</mat-label>
                    <input matInput type="text" formControlName="productName" required>
                    <mat-hint align="end">tối đa 50 kí tự</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <mat-label for="exampleFormControlTextarea1">Mô tả</mat-label>
                    <textarea matInput rows="3" formControlName="description" required></textarea>
                    <mat-hint align="end">tối đa 100 kí tự</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                    <mat-label for="validationCustom03">Tồn kho</mat-label>
                    <input matInput type="number" formControlName="quantityInStock" required >
                    <mat-hint align="end">Nhập số</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                    <mat-label for="validationCustom04">Số lượng nhập</mat-label>
                    <input matInput type="text" readonly value="{{data.quantityAtBegining}}">
                    <mat-hint align="end">Không nhập</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                    <mat-label for="validationCustom05">Đơn vị tính</mat-label>
                    <mat-select *ngIf="data.unit!=null" formControlName="unit" required [(value)]="unitSelected">
                        <mat-option *ngFor="let unit of units" [value]="unit">
                            {{unit}}
                        </mat-option>
                    </mat-select>
                    <mat-hint align="end">Chọn 1</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                    <mat-label for="validationCustom05">Đơn giá</mat-label>
                    <input matInput type="number" min=10000 formControlName="unitPrice" required value="{{data.unitPrice}}">
                    <mat-hint align="end">Nhập số</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                    <mat-label for="validationCustom05">Loại sản phẩm</mat-label>
                    <mat-select *ngIf="categories!=null" formControlName="categoryId" required
                        [(value)]=categorySelected>
                        <mat-option *ngFor="let category of categories" value="{{category.id}}">
                            {{category.categoryName}}
                        </mat-option>
                    </mat-select>
                    <mat-hint align="end">Chọn 1</mat-hint>
                </mat-form-field>
                <mat-form-field *ngIf="data.createAt!=null" appearance="outline" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                    <mat-label for="validationCustom05">Thời gian tạo</mat-label>
                    <input matInput type="text" readonly value="{{getToStringTime(data.createAt)}}">
                    <mat-hint align="end">Không chọn</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline" *ngIf="data.cost!=null"
                    class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <mat-label for="validationCustomUsername">{{data.cost.costDescription}}</mat-label>
                    <input matInput type="number" formControlName="importPrice" value="" required>
                    <mat-hint align="end">Nhập chi phí</mat-hint>
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary">Cập nhật</button>
        </div>
    </form>

</div>
<ng-template class="card" #elseBlock>
    <h3 class="card-header">Thêm sản phẩm</h3>
    <form [formGroup]="inputForm" (ngSubmit)="onStoreProduct(inputForm.value)">
        <div class="card-body">
            <div class="row">
                <mat-form-field appearance="outline" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <mat-label for="validationCustom01">Tên sản phẩm</mat-label>
                    <input matInput type="text" formControlName="productName" value="" required>
                    <mat-hint align="end">tối đa 50 kí tự</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <mat-label for="exampleFormControlTextarea1">Mô tả</mat-label>
                    <textarea matInput rows="3" formControlName="description" required></textarea>
                    <mat-hint align="end">tối đa 100 kí tự</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                    <mat-label for="validationCustom03">Số lượng nhập</mat-label>
                    <input matInput type="number" formControlName="quantityInStock" required >
                    <mat-hint align="end">Nhập số</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                    <mat-label for="validationCustom05">Đơn vị tính</mat-label>
                    <mat-select formControlName="unit" required [(value)]=unitSelected>
                        <mat-option *ngFor="let unit of units" [value]="unit">
                            {{unit}}
                        </mat-option>
                    </mat-select>
                    <mat-hint align="end">Chọn 1</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                    <mat-label for="validationCustom05">Đơn giá</mat-label>
                    <input matInput type="number" min=10000 formControlName="unitPrice" required>
                    <mat-hint align="end">Nhập số</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                    <mat-label for="validationCustom05">Loại sản phẩm</mat-label>
                    <mat-select formControlName="categoryId" required>
                        <mat-option *ngFor="let category of categories" value="{{category.id}}">
                            {{category.categoryName}}
                        </mat-option>
                    </mat-select>
                    <mat-hint align="end">Chọn 1</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline"
                    class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <mat-label for="validationCustomUsername">Chi phí nhập</mat-label>
                    <input matInput type="number" formControlName="importPrice" value="" required>
                    <mat-hint align="end">Nhập chi phí</mat-hint>
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary">Thêm mới sản phẩm</button>
        </div>
    </form>
</ng-template>
<script src="../assets/vendor/inputmask/js/jquery.inputmask.bundle.js"></script>
<script>
    $(function (e) {
        "use strict";
        $(".date-inputmask").inputmask("dd/mm/yyyy"),
            $(".phone-inputmask").inputmask("(999) 999-9999"),
            $(".international-inputmask").inputmask("+9(999)999-9999"),
            $(".xphone-inputmask").inputmask("(999) 999-9999 / x999999"),
            $(".purchase-inputmask").inputmask("aaaa 9999-****"),
            $(".cc-inputmask").inputmask("9999 9999 9999 9999"),
            $(".ssn-inputmask").inputmask("999-99-9999"),
            $(".isbn-inputmask").inputmask("999-99-999-9999-9"),
            $(".currency-inputmask").inputmask("$9999"),
            $(".percentage-inputmask").inputmask("99%"),
            $(".decimal-inputmask").inputmask({
                alias: "decimal",
                radixPoint: "."
            }),

            $(".email-inputmask").inputmask({
                mask: "*{1,20}[.*{1,20}][.*{1,20}][.*{1,20}]@*{1,20}[*{2,6}][*{1,2}].*{1,}[.*{2,6}][.*{1,2}]",
                greedy: !1,
                onBeforePaste: function (n, a) {
                    return (e = e.toLowerCase()).replace("mailto:", "")
                },
                definitions: {
                    "*": {
                        validator: "[0-9A-Za-z!#$%&'*+/=?^_`{|}~/-]",
                        cardinality: 1,
                        casing: "lower"
                    }
                }
            })
    });
</script>