<div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">
            <!-- ============================================================== -->
            <!-- pageHeaderContent  -->
            <!-- ============================================================== -->
            <app-page-header-content></app-page-header-content>
            <!-- ============================================================== -->
            <!-- end pageHeaderContent  -->
            <!-- ============================================================== -->
            <div class="ecommerce-widget">

                <!--Summary1-->
                <app-summary-revenue></app-summary-revenue>
                <!--End Summary1-->
                <div class="row">
                    <!-- ============================================================== -->

                    <!-- ============================================================== -->

                    <!-- recent orders  -->
                    <!-- ============================================================== -->
                    <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
                        <app-recent-order></app-recent-order>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end recent orders  -->


                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- customer acquistion  -->
                    <!-- ============================================================== -->
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                        <app-recent-cost></app-recent-cost>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end customer acquistion  -->
                    <!-- ============================================================== -->
                </div>
                <div class="row">
                    <!-- ============================================================== -->
                    <!-- product category  -->
                    <!-- ============================================================== -->
                    <div class="col-xl-3 col-lg-12 col-md-6 col-sm-12 col-12">
                        <!-- ============================================================== -->
                        <!-- top performing  -->
                        <!-- ============================================================== -->
                        <app-customer-acquisition></app-customer-acquisition>
                        <!-- ============================================================== -->
                        <!-- end top performing  -->
                        <!-- ============================================================== -->
                    </div>
                    <!-- ============================================================== -->
                    <!-- end product category  -->
                    <!-- product sales  -->
                    <!-- ============================================================== -->
                    <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
                        <app-summary-order-cost-chart></app-summary-order-cost-chart>
                    </div>

                    
                    <!-- <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                        <app-product-category></app-product-category>
                    </div> -->
                    <!-- end product sales  -->
                    <!-- ============================================================== -->

                </div>
                <!--SummarySales-->
                <app-summary-sales></app-summary-sales>
                <!-- End SummarySales-->
                <div class="row">
                    <!-- ============================================================== -->
                    <!-- total revenue  -->
                    <!-- ============================================================== -->


                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- category revenue  -->
                    <!-- ============================================================== -->
                    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">Revenue by Category</h5>
                            <div class="card-body">
                                <div id="c3chart_category" style="height: 420px;"></div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end category revenue  -->
                    <!-- ============================================================== -->

                    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header"> Total Revenue</h5>
                            <div class="card-body">
                                <div id="morris_totalrevenue"></div>
                            </div>
                            <div class="card-footer">
                                <p class="display-7 font-weight-bold"><span
                                        class="text-primary d-inline-block">$26,000</span><span
                                        class="text-success float-right">+9.45%</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Summary Sale by-->
                <app-summary-sales-by></app-summary-sales-by>
                <!--End Summary Sale by-->
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <app-footer></app-footer>
    <!-- ============================================================== -->
    <!-- end footer -->
    <!-- ============================================================== -->
</div>