<div class="row">
    <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
        <div class="card">
            <h3 class="card-header" style="font-family: 'Montserrat', sans-serif;">Danh sách sản phẩm</h3>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table matSort class="table" (matSortChange)="searchProductSortBy($event)">
                        <thead class="bg-light">
                            <tr class="border-0">
                                <th class="border-0" style="font-family: 'Montserrat', sans-serif;">No.</th>
                                <th mat-sort-header="cost_description" class="border-0"
                                    style="font-family: 'Montserrat', sans-serif;">Mô tả chi phí</th>
                                <th mat-sort-header="total" class="border-0"
                                    style="font-family: 'Montserrat', sans-serif;">Tổng cộng chi phí</th>
                                <th mat-sort-header="create_at" class="border-0"
                                    style="font-family: 'Montserrat', sans-serif;">Thời gian tạo</th>
                                <th class="border-0"></th>
                                <th class="border-0"></th>
                            </tr>
                        </thead>
                        <tbody *ngIf="costList==null">
                            <tr>
                                <td colspan="9" style="height: 430px;">
                                    <mat-spinner style="margin-left:auto; 
                                    margin-right:auto;" color="accent" diameter=30></mat-spinner>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="costList!=null">
                            <tr *ngFor="let cost of costList;index as i">
                                <td>{{i+(pageInfo.info.page*pageInfo.info.limit)-(pageInfo.info.limit-1)}}</td>
                                <td>{{cost.costDescription}}</td>
                                <td>{{cost.total | currency:'VND'}}</td>
                                <td>{{getToStringTime(cost.createAt)}}</td>
                                <td>
                                    <button class="btn-outline-light" (click)='showDialogCost(cost);'
                                        mat-raised-button>Chi tiết</button>
                                </td>
                                <td colspan="9">
                                    <button class="btn-outline-light" (click)='deleteCost(cost);' mat-fab
                                        color="white">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="9">
                                    <button mat-raised-button class="btn-outline-light"
                                        (click)='showDialogCost(null);'
                                        class="btn btn-outline-light float-right">Thêm
                                        sản
                                        phẩm</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <nav aria-label="Page navigation example" *ngIf="pageInfo!=null">
            <ul class="pagination" *ngIf="pageInfo.info!=null">
                <li *ngIf="pageInfo.isFirstPage==false" class="page-item">
                    <button mat-raised-button class="page-link" (click)="searchByPage(pageInfo.info.page-1)">
                        Previous
                    </button>
                </li>
                <li *ngIf="pageInfo.isFirstPage==false" class="page-item">
                    <button mat-raised-button class="page-link" (click)="searchByPage(pageInfo.info.page-1)">
                        {{pageInfo.info.page-1}}
                    </button>
                </li>
                <li class="page-item active">
                    <button mat-raised-button class="page-link">
                        {{pageInfo.info.page}}
                    </button>
                </li>
                <li *ngIf="pageInfo.isLastPage==false" class="page-item">
                    <button mat-raised-button class="page-link"
                        (click)="searchByPage(pageInfo.info.page+1)">{{pageInfo.info.page+1}}</button>
                </li>
                <li *ngIf="pageInfo.isLastPage==false" class="page-item">
                    <button mat-raised-button class="page-link"
                        (click)="searchByPage(pageInfo.info.page+1)">Next</button>
                </li>
            </ul>
        </nav>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12">
        <app-manage-costs-filter ></app-manage-costs-filter>
    </div>
    
    <br>

    <!-- end filter search  -->
</div>