<div class="row">
    <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
        <mat-card class="card">
            <mat-card-header class="product-sidebar-widget">
                <mat-card-title>Danh sách các loại chi phí</mat-card-title>
            </mat-card-header>
            <mat-card-content class="card-body p-0">
                <mat-card-content class="table-responsive">
                    <table matSort class="table" (matSortChange)="searchCostTypeSortBy($event)">
                        <thead class="bg-light">
                            <tr class="border-0">
                                <th class="border-0" style="font-family: 'Montserrat', sans-serif;">No.</th>
                                <th mat-sort-header="CostTypeName" class="border-0"
                                    style="font-family: 'Montserrat', sans-serif;">Tên loại chi phí</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody *ngIf="costTypeList==null">
                            <tr>
                                <td colspan="9" style="height: 430px;">
                                    <mat-spinner style="margin-left:auto; 
                                    margin-right:auto;" color="accent" diameter=30></mat-spinner>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="costTypeList!=null">
                            <tr *ngFor="let costType of costTypeList;index as i">
                                <td>{{i+(pageInfo.info.page*pageInfo.info.limit)-(pageInfo.info.limit-1)}}</td>
                                <td>{{costType.costTypeName}}</td>
                                <td>
                                    <button class="btn-outline-light" (click)='showDialogCostType(costType.id);'
                                        mat-raised-button>Chi tiết</button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </mat-card-content>
            </mat-card-content>
        </mat-card>

        <nav aria-label="Page navigation example" *ngIf="pageInfo!=null&&pageInfo.info.totalRecord>0">
            <ul class="pagination" *ngIf="pageInfo.info!=null">
                <li *ngIf="pageInfo.isFirstPage==false" class="page-item">
                    <button mat-raised-button class="page-link" (click)="searchByPage(pageInfo.info.page-1)">
                        Previous
                    </button>
                </li>
                <li *ngIf="pageInfo.isFirstPage==false" class="page-item">
                    <button mat-raised-button class="page-link" (click)="searchByPage(pageInfo.info.page-1)">
                        {{pageInfo.info.page-1}}
                    </button>
                </li>
                <li class="page-item active">
                    <button mat-raised-button class="page-link">
                        {{pageInfo.info.page}}
                    </button>
                </li>
                <li *ngIf="pageInfo.isLastPage==false" class="page-item">
                    <button mat-raised-button class="page-link"
                        (click)="searchByPage(pageInfo.info.page+1)">{{pageInfo.info.page+1}}</button>
                </li>
                <li *ngIf="pageInfo.isLastPage==false" class="page-item">
                    <button mat-raised-button class="page-link"
                        (click)="searchByPage(pageInfo.info.page+1)">Next</button>
                </li>
            </ul>
        </nav>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12">
        <app-manage-cost-types-filter (costTypeName)="searchCostTypeByName($event)"></app-manage-cost-types-filter>
    </div>

    <br>

    <!-- end filter search  -->
</div>