<div class="dashboard-wrapper">
    <div class="container-fluid dashboard-content ">
        <!-- ============================================================== -->
        <!-- pageHeaderContent  -->
        <!-- ============================================================== -->
        <app-page-header-content [titleComponent]=titleComponent></app-page-header-content>
        <!-- ============================================================== -->
        <!-- end pageHeaderContent  -->
        <!-- ============================================================== -->
        <div class="ecommerce-widget">
            <!--End Summary1-->
            <div class="row">
                <!-- product list  -->
                <!-- ============================================================== -->
                <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
                    <app-manage-products-list *ngIf="productList!=null" [productList]=productList>
                    </app-manage-products-list>

                    <nav aria-label="Page navigation example" *ngIf="searchResult!=null">
                        <ul class="pagination" *ngIf="pageInfo!=null">
                            <li *ngIf="pageInfo.isFirstPage==false" class="page-item">
                                <a class="page-link"  (click)="searchProduct(searchResult.info.page-1)">
                                    Previous
                                </a>
                            </li>
                            <li *ngIf="pageInfo.isFirstPage==false" class="page-item">
                                <a class="page-link" (click)="searchProduct(searchResult.info.page-1)">
                                    {{searchResult.info.page-1}}
                                </a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" >
                                    {{searchResult.info.page}}
                                </a>
                            </li>
                            <li *ngIf="pageInfo.isLastPage==false" class="page-item">
                                <a class="page-link" (click)="searchProduct(searchResult.info.page+1)">{{searchResult.info.page+1}}</a>
                            </li>
                            <li *ngIf="pageInfo.isLastPage==false" class="page-item">
                                <a class="page-link" (click)="searchProduct(searchResult.info.page+1)">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- ============================================================== -->
                <!-- end recent orders  -->

                <!-- filter search  -->
                <!-- ============================================================== -->
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12">
                    <app-manage-products-filter></app-manage-products-filter>
                </div>
                <br>



                <!-- end filter search  -->
            </div>
        </div>
    </div>
    <!-- footer -->
    <!-- ============================================================== -->
    <app-footer></app-footer>
    <!-- ============================================================== -->
    <!-- end footer -->
</div>