<div class="card" *ngIf="data!=null; else elseBlock">
    <h3 class="card-header">Chi tiết chi phí</h3>
    <form *ngIf="inputFormControl==null">
        <div class="card-body">
            <mat-spinner style="margin-left:auto; 
                                margin-right:auto;" color="accent" diameter=30>
            </mat-spinner>
        </div>
    </form>
    <form *ngIf="inputFormControl!=null; elseNull" [formGroup]="inputFormControl"
        (ngSubmit)="onUpdateCost(inputFormControl.value,data.id);">
        <div class="card-body">
            <div class="row">
                <mat-form-field appearance="outline" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <mat-label for="exampleFormControlTextarea1">Mô tả chi phí</mat-label>
                    <textarea matInput rows="3" formControlName="costDescription" required></textarea>
                    <mat-hint align="end">tối đa 100 kí tự</mat-hint>
                    <mat-error *ngIf="generalService.hasErrorInputValidation('costDescription','required',inputFormControl)">
                        Mô tả chi phí <strong>không được trống</strong>
                    </mat-error>
                    <mat-error *ngIf="generalService.hasErrorInputValidation('costDescription','maxlength',inputFormControl)">
                        Mô tả chi phí <strong>không được quá 100 ký tự</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                    <mat-label for="validationCustom03">Tổng cộng</mat-label>
                    <input matInput type="number" formControlName="total" required>
                    <mat-hint align="end">Nhập số</mat-hint>
                    <mat-error *ngIf="generalService.hasErrorInputValidation('total','required',inputFormControl)">
                        Tổng cộng <strong>không được trống</strong>
                    </mat-error>
                    <mat-error *ngIf="generalService.hasErrorInputValidation('total','min',inputFormControl)">
                        Tổng cộng <strong>không được nhỏ hơn 1000</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                    <mat-label for="validationCustom05">Loại chi phí</mat-label>
                    <mat-select *ngIf="data.costType!=null" formControlName="costTypeId" required [(value)]="costTypeSelected">
                        <mat-option *ngFor="let costType of costTypes" [value]="costType.id">
                            {{costType.costTypeName}}
                        </mat-option>
                    </mat-select>
                    <mat-hint align="end">Chọn 1</mat-hint>
                    <mat-error *ngIf="generalService.hasErrorInputValidation('costTypeId','required',inputFormControl)">
                        Loại chi phí <strong>không được trống</strong>
                    </mat-error>
                </mat-form-field>
                
                <mat-form-field appearance="outline"
                    class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <mat-label for="validationCustomUsername">Ngày tạo</mat-label>
                    <input matInput type="text" readonly value="{{getToStringTime(data.createAt)}}" required>
                    <mat-hint align="end">Không nhập</mat-hint>
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary">Cập nhật</button>
        </div>
    </form>

</div>
<ng-template class="card" #elseBlock>
    <h3 class="card-header">Thêm sản phẩm</h3>
    <form [formGroup]="inputFormControl" (ngSubmit)="onStoreCost(inputFormControl.value)">
        <div class="card-body">
            <div class="row">
                <mat-form-field appearance="outline" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <mat-label for="exampleFormControlTextarea1">Mô tả chi phí</mat-label>
                    <textarea matInput rows="3" formControlName="costDescription" required></textarea>
                    <mat-hint align="end">tối đa 100 kí tự</mat-hint>
                    <mat-error *ngIf="generalService.hasErrorInputValidation('costDescription','required',inputFormControl)">
                        Mô tả chi phí <strong>không được trống</strong>
                    </mat-error>
                    <mat-error *ngIf="generalService.hasErrorInputValidation('costDescription','maxlength',inputFormControl)">
                        Mô tả chi phí <strong>không được quá 100 ký tự</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                    <mat-label for="validationCustom03">Tổng cộng</mat-label>
                    <input matInput type="number" formControlName="total" required>
                    <mat-hint align="end">Nhập số</mat-hint>
                    <mat-error *ngIf="generalService.hasErrorInputValidation('total','required',inputFormControl)">
                        Tổng cộng <strong>không được trống</strong>
                    </mat-error>
                    <mat-error *ngIf="generalService.hasErrorInputValidation('total','min',inputFormControl)">
                        Tổng cộng <strong>không được nhỏ hơn 1000</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                    <mat-label for="validationCustom05">Loại chi phí</mat-label>
                    <mat-select formControlName="costTypeId" required>
                        <mat-option *ngFor="let costType of costTypes" [value]="costType.id">
                            {{costType.costTypeName}}
                        </mat-option>
                    </mat-select>
                    <mat-hint align="end">Chọn 1</mat-hint>
                    <mat-error *ngIf="generalService.hasErrorInputValidation('costTypeId','required',inputFormControl)">
                        Loại chi phí <strong>không được trống</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary">Thêm mới chi phí</button>
        </div>
    </form>
</ng-template>