<div class="row" *ngIf="summaryFrames!=null">
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12" *ngFor="let summaryFrame of summaryFrames">
        <div class="card">
            <div class="card-body">
                <h5 class="text-muted">{{summaryFrame.descriptionSummary}}</h5>
                <div class="metric-value d-inline-block">
                    <h2 class="mb-1">{{summaryFrame.total | currency:'VND'}} </h2>
                </div>

                <div class={{summaryFrame.classStyleSheet}}>
                    <span *ngIf="summaryFrame.rateCompareToLastMonth>0"><i class="fa fa-fw fa-arrow-up"></i></span>
                    <span *ngIf="summaryFrame.rateCompareToLastMonth<=0"><i class="fa fa-fw fa-arrow-down"></i></span>
                    <span>{{summaryFrame.rateCompareToLastMonth}}%</span>
                </div>
            </div>
            <div id="sparkline-revenue"></div>
        </div>
    </div>

</div>